---
- hosts: all
  become: true

  vars:
    user_name: "{{ user_name | default('ubuntu') }}"
    install_dir: "/usr/local/bin"
    minikube_version: "latest"

  tasks:
    - name: Install required system packages
      apt:
        name:
          - apt-transport-https
          - ca-certificates
          - curl
          - software-properties-common
        state: latest
        update_cache: true

    - name: Add Docker GPG key
      apt_key:
        url: https://download.docker.com/linux/ubuntu/gpg
        state: present

    - name: Add Docker repository
      apt_repository:
        repo: "deb [arch=amd64] https://download.docker.com/linux/ubuntu jammy stable"
        state: present

    - name: Install Docker packages
      apt:
        name:
          - docker-ce
          - docker-ce-cli
          - containerd.io
        state: latest
        update_cache: true

    - name: Enable and start Docker
      systemd:
        name: docker
        enabled: true
        state: started

    - name: Add user to docker group
      user:
        name: "{{ user_name }}"
        groups: docker
        append: yes

    - name: Get latest stable version of kubectl
      shell: curl -L -s https://dl.k8s.io/release/stable.txt
      register: kubectl_latest

    - name: Download kubectl binary
      ansible.builtin.get_url:
        url: "https://dl.k8s.io/{{ kubectl_latest.stdout }}/bin/linux/amd64/kubectl"
        dest: "/tmp/kubectl"
        mode: '0755'

    - name: Move kubectl to install directory
      ansible.builtin.copy:
        src: "/tmp/kubectl"
        dest: "{{ install_dir }}/kubectl"
        owner: root
        group: root
        mode: '0755'
        remote_src: yes

    - name: Baixar Minikube
      get_url:
        url: https://storage.googleapis.com/minikube/releases/latest/minikube-linux-amd64
        dest: /tmp/minikube-linux-amd64
        mode: '0755'

    - name: Instalar Minikube
      copy:
        src: /tmp/minikube-linux-amd64
        dest: /usr/local/bin/minikube
        remote_src: yes
        mode: '0755'